*.pyc
compass_warp/compass/settings.py
compass_warp/db_models/settings.py
compass_warp/client/node_modules/
compass_warp/static/dist_dev/
compass_warp/compass_conf/dev/web_settings.py
script/node_modules/
compass_warp/client/build/
compass_warp/client/.eslintrc.json
compass_warp/client/jsconfig.json
**/__pycache__/
.vscode
.gitignore
